.putup{
    position: absolute;
    top:8rem;
    left:50%;
    transform:translateX(-20rem);
    background-color: white;
    width:40rem;
    height:32rem;
    z-index: 10;
    padding:1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inside{
   margin-top: 3rem;
}

.inputZone{
    width:18rem;
}
.dropSpace{
    width:16rem;
    height:10rem;
    border: 0.3rem dotted;
    border-radius: 10%;

    text-align: center;
}

.file{
    padding-top: 1rem;
}

.setting{
    display:flex;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form_with_label{
    border-bottom: 0.1rem solid gray;
    font-size: medium;
}
.form_with_label select{
    font-size: large;
    margin-left: 0.5rem;
    background-color: white;
    color:black;
    border:none
}
.form_with_label input{
    font-size: large;
    margin-left: 0.5rem;
    background-color: white;
    color:black;
    border:none
}
.form_with_label input:focus{
    outline: none;
}
.describe{
    display: flex;
    flex-flow: column;
    margin: 2rem 0 2rem 0;
}
.describe textarea{
    resize:none;
    width:30rem;
    /* margin:0 0 0 1rem; */
    border:0.1rem solid gray;
    background-color: white;
    color:black;
}
.describe textarea:focus{
    outline:none;
}
.putup button{
    border-style:none;
    border-radius: 30px;
    width: 30%;
    height:3rem;
    color: white;
    background-color:#ffda5f;
}

.putup button:hover{
    opacity:0.8;
}

.error{
    position:absolute;
    background-color: white;
    color:red;
}